.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*s

.htaccess

.idea/
**/.idea/**/*

.vscode/
**/.vscode/**/*

node_modules/
**/node_modules/**/*

./logs
**/logs/*

tmp/
**/tmp/*

public_html/
public_html/dist/*
public_html/dist/**/*
**/public_html/dist/**/*
*.env.miskamyasa
*.env.office
*.env.maks

.~lock.*

sessions/
**/sessions/*
